<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">
            Community Event Management
        </a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="nav flex-column">
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/dashboard">
                Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/events">
                Events
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/events/create">
                Create Event
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/participants">
                Participants
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/registrations">
                Registrations
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/registrations/register">
                Register For Event
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/venues">
                Venues
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/activities">
                Activities
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/reports">
                Reports
            </NavLink>
        </div>
    </nav>
</div>
