@page "/venues/create"

@using CommunityEventManagementSystem.DTOs
@using CommunityEventManagementSystem.Services.Interfaces

@inject IVenueService VenueService
@inject NavigationManager Navigation

<h1 class="mb-4">
    Create Venue
</h1>

<EditForm Model="venueDto"
          OnValidSubmit="SaveVenue">

    <DataAnnotationsValidator />

    <ValidationSummary />

    <div class="mb-3">

        <label>Name</label>

        <InputText class="form-control"
                   @bind-Value="venueDto.Name" />

    </div>

    <div class="mb-3">

        <label>Address</label>

        <InputText class="form-control"
                   @bind-Value="venueDto.Address" />

    </div>

    <div class="mb-3">

        <label>Capacity</label>

        <InputNumber class="form-control"
                     @bind-Value="venueDto.Capacity" />

    </div>

    <button type="submit"
            class="btn btn-success">

        Save Venue

    </button>

</EditForm>

@code {

    private CreateVenueDto venueDto = new();

    private async Task SaveVenue()
    {
        await VenueService
            .CreateVenueAsync(
                venueDto);

        Navigation.NavigateTo(
            "/venues");
    }

}