@page "/venues"

@using CommunityEventManagementSystem.DTOs
@using CommunityEventManagementSystem.Services.Interfaces

@inject IVenueService VenueService

<h1 class="mb-4">
    Venue Management
</h1>

<a href="/venues/create"
   class="btn btn-primary mb-3">

    + Create Venue

</a>

@if (venues == null)
{
    <p>Loading venues...</p>
}
else
{
    <table class="table table-striped">

        <thead>

            <tr>

                <th>Name</th>
                <th>Address</th>
                <th>Capacity</th>

            </tr>

        </thead>

        <tbody>

            @foreach (var venue in venues)
            {
                <tr>

                    <td>@venue.Name</td>

                    <td>@venue.Address</td>

                    <td>@venue.Capacity</td>

                </tr>
            }

        </tbody>

    </table>
}

@code {

    private IEnumerable<VenueDetailsDto>? venues;

    protected override async Task OnInitializedAsync()
    {
        venues =
            await VenueService
                .GetAllVenuesAsync();
    }

}